config SHIELD_K03_LEFT_QUBE
    def_bool $(shields_list_contains,k03_left_qube)

config SHIELD_K03_QUBE
    def_bool $(shields_list_contains,k03_qube)

config SHIELD_K03_LEFT
    def_bool $(shields_list_contains,k03_left)

config SHIELD_K03_RIGHT
    def_bool $(shields_list_contains,k03_right)
