config SHIELD_OP36_LEFT_DONGLE
    def_bool $(shields_list_contains,op36_left_dongle)

config SHIELD_OP36_DONGLE
    def_bool $(shields_list_contains,op36_dongle)

config SHIELD_OP36_LEFT
    def_bool $(shields_list_contains,op36_left)

config SHIELD_OP36_RIGHT
    def_bool $(shields_list_contains,op36_right)
